body {
  background-color: #12192c;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.header {
  text-align: center;
  margin-top: -17px;
  background-color: #12192c;
  padding: 8px;
  text-align: left;
}

.head {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 25px;
}

.head2 {
  color: white;
  font-size: 8px;
}

.topnav {
  margin-top: -22px;
  background-color: #12192c;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 5px;
}

.topnav a:hover {
  background-color: rgba(128, 14, 190, 0.91);
  color: black;
}

.topnav a.split {
  float: right;
  background-color: #12192c;
  color: white;
}

.topnav a.split:hover {
  float: right;
  background-color: #061e61;
  color: white;
}

footer {
  background-color: #12192c;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.copy {
  color: white;
  margin-top: 2px;
  margin-bottom: -10px;
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: bold;
}

.visit {
  color: white;
  margin-top: -10px;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bold;
}

#instalogo {
  width: 30px;
  height: 30px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
}

.dropdown:hover .dropbtn {
  background-color: rgba(128, 14, 190, 0.91);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(128, 14, 190, 0.91);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  .head {
    font-size: 20px;
  }

  .topnav {
    margin-top: -10px;
  }

  .topnav a,
  .topnav a.split {
    font-size: 15px;
    padding: 8px 10px;
  }

  .slideshow-container {
    width: 350px;
    position: relative;
    margin: auto;
  }

  img {
    width: 350px;
  }

  .descrption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    margin-top: 30px;
    padding: 15px;
    background-color: #12192c;
    color: white;
  }

  .marq {
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 10px;
  }

  .recentcar {
    margin-left: 32%;
  }

  .descrption1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 4px;
    font-size: 20px;
    display: block;
    background-color: #db9130;
    color: white;
    margin-top: 30px;
    padding: 15px;
    margin-left: 50%;
    float: left;
  }

  .descrption2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    border-radius: 4px;
    color: white;
    padding: 15px;
    font-size: 20px;
    margin-top: -80px;
    background-color: #142c6f;
  }

  .container {
    margin-top: 120px;
    margin-left: 20px;
  }

  input[type=submit] {
    margin-left: 38%;
  }

  #success-message {
    margin-top: 10px;
    margin-left: 25%;
    width: 200px;
  }

  section {
    margin-left: -10px;
    height: 700px;
  }

  .btn {
    width: 180px;
  }
}